<!DOCTYPE html>
<html lang="en" ng-app="mainModule">


<title>Aqua-California Visualization</title>
 
 <meta name="description" content="Aqua-California,california,drought results of california,California water results,California water management">
    <meta name="author" content="Alice,Pradeep Ivan">
<head>

 <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="assets/js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://code.angularjs.org/1.2.4/angular.js"></script>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

 <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="d3pie.min.js"></script>
 





  <link rel="stylesheet" href="/resources/demos/style.css">
  
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css" /> 
    
    <!-- Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
    
    <!-- Base Styling  -->
    <link rel="stylesheet" href="assets/css/app/app.v1.css" />
    <script src="http://d3js.org/d3.v3.min.js"></script>







</head>
<body ng-app>

    <!-- Preloader -->
    <div class="loading-container">
      <div class="loading">
        <div class="l1">
          <div></div>
        </div>
        <div class="l2">
          <div></div>
        </div>
        <div class="l3">
          <div></div>
        </div>
        <div class="l4">
          <div></div>
        </div>
      </div>
    </div>
    <!-- Preloader -->  
    <div ng-controller="dashboardController1 as store">   

        <aside class="left-panel">
            
            <div class="user text-center">
                  <img src="aqualogo.png" class="img-circle" alt="...">
                  <h4 class="user-name">Aqua California</h4>
                  
                  <div class="dropdown user-login">
                  <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-circle status-icon available"></i> Language <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" href="#" ng-click="click()"><i class="fa fa-circle status-icon busy"></i> English </a></li>
                    <li role="presentation"><a role="menuitem" href="#" ng-click="click1()"><i class="fa fa-circle status-icon invisibled"></i> French  </a></li>
                    <li role="presentation"><a role="menuitem" href="#" ng-click="click2()"><i class="fa fa-circle status-icon invisibled"></i> Chinese </a></li>
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon signout"></i> Sign out</a></li>
                  </ul>
                  </div>     
            </div>
            
         
            
           <nav class="navigation">
                <ul class="list-unstyled">
                    <li class="has-submenu"><a href="/Dashboard"><i class="fa fa-bookmark-o"></i><span class="nav-label">{{store.products.side1}}</span></a></li>
                    <li class="has-submenu"><a href="/Waterflow"><i class="fa fa-comment-o"></i> <span class="nav-label">{{store.products.side2}}</span></a>
 
                        
                    </li>
                    <li class="active"><a href="/DroughtMonitor"><i class="fa fa-flag-o"></i> <span class="nav-label">{{store.products.side3}}</span></a>
                        
                    </li>
                    <li class="has-submenu"><a href="/resvoir"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{store.products.side4}}</span></a>
                       
                    </li>
                    <li class="has-submenu"><a href="/WaterManagement"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{store.products.side5}}</span></a>
                       
                    </li>
                    <!-- <li class="has-submenu"><a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">{{store.products.side6}}</span></a> -->
                      
                    </li>
                    <li class="has-submenu"><a href="/facts"><i class="fa fa-star-o"></i> <span class="nav-label">{{store.products.side7}}</span></a>
                        
                    </li>
                    <!-- <li class="has-submenu"><a href="#"><i class="fa fa-star-o"></i> <span class="nav-label">{{store.products.side8}}</span></a>
                        
                    </li> -->
                    <li class="has-submenu"><a href="/Settings"><i class="fa fa-star-o"></i> <span class="nav-label">{{store.products.side9}}</span></a>
                        
                    </li>
                </ul>
            </nav>
       
    </aside>
    <!-- Aside Ends-->
    
    <section class="content">
        
        <header class="top-head container-fluid">
            <button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <form role="search" class="navbar-left app-search pull-left hidden-xs">
              <input type="text" placeholder="{{store.products.side10}}" class="form-control form-control-circle">
            </form>
            
            <nav class=" navbar-default hidden-xs" role="navigation">
                <ul class="nav navbar-nav">
                <li><a href="http://aqua-california.herokuapp.com/">{{store.products.side11}}</a></li>

                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{store.products.side12}}<span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">{{store.products.side13}}</a></li>
                    <li><a href="#">{{store.products.side14}}</a></li>
                    <li><a href="#">{{store.products.side15}}</a></li>
                    <li class="divider"></li>
                    <li><a href="#">{{store.products.side16}}</a></li>
                    <li class="divider"></li>
                    <li><a href="#">{{store.products.side17}}</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            
           
        </header>



        <!--Start of main program datavisulization object-->

<div ng-controller="dashboardController">
                      

        <div class="warper container-fluid">
            
            <div class="page-header"><h1>{{store.products.side18}} <small>{{store.products.side19}}</small></h1></div><br>
       <div class="col-md-6">
                                      <div class="panel panel-default" style="height:650px; width:950px;">
                                          <div class="panel-heading" id="target2">{{store.products.side21}}</div>
                                          <div class="panel-body">
                                              
                                      <div id="Drought-chart" style="height:550px; width:550px;">{{DroughtChart()}}</div>
                                             
                                                          <style>
                                                                  #Drought-chart {
                                                                      width: 500px;
                                                                      height: 550px;
                                                            
                                                                      
                                                                      max-width: 1800px; 
                                                                      margin: 0 auto; 
                                                                  }

                                                                  </style>
                                                  

                                          </div>
                                      </div>
                                  </div>
           
                                <hr><br>
             <style type="text/css">
                .container{
                        text-align: center;
                }
             </style>
             <div class="container">
                          <h2>Aqua-Visualization</h2>
                          
                          <ul class="pagination">
                            <li><a href="/Dashboard">1</a></li>
                        
                             <li><a href="Waterflow">2</a></li>
                            <li class="active"><a href="/DroughtMonitor">3</a></li>
                            
                            <li><a href="/resvoir">4</a></li>
                            <li><a href="/WaterManagement">5</a></li>
                            <li><a href="/facts">6</a></li>
                            <li><a href="/Settings">7</a></li>
                          </ul>
                </div>  
                
            
            
            </div>
          </div>

            

            <!-- JQuery v1.9.1 -->
    
    <script src="assets/js/plugins/underscore/underscore-min.js"></script>
     <!-- Bootstrap -->
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    
    <!-- Globalize -->
    <script src="assets/js/globalize/globalize.min.js"></script>
    
  <!-- NanoScroll -->
    <script src="assets/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
    
  <!-- Chart JS -->
    <script src="assets/js/plugins/DevExpressChartJS/dx.chartjs.js"></script>
    <!-- For Demo Charts -->
    <script src="assets/js/plugins/DevExpressChartJS/demo-charts.js"></script>
    <script src="Dashboard-chart.js"></script>
    <script src="localization.js"></script>


    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    
    <script src="/http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="http://code.highcharts.com/mapdata/countries/us/us-ca-all.js"></script>
    
    
    <!-- Custom JQuery -->
    <script src="assets/js/app/custom.js" type="text/javascript"></script>
    

   
</body>
</html>